<!DOCTYPE html>
<html data-ng-app="spoti_dup">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.js"></script>
    <script src="controllers/main.controller.js"></script>
    <script src="js/angular-spotify.min.js"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <title>Spotify Duplicate Remover</title>
    <meta name="description" content="Remove duplicate tracks from your Spotify playlists">
    <meta name="og:description" content="Remove duplicates from your Spotify Playlists">
    <meta name="twitter:description" content="Remove duplicates from your Spotify Playlists">
    <meta name="og:title"
          content="Spotify dedup - Deleting duplicated songs from your Spotify library">
    <meta name="twitter:title"
          content="Spotify dedup - Deleting duplicated songs from your Spotify library">
    <meta name="viewport" content="width=device-width">

</head>

<body>

<div class="container" data-ng-controller="MainController">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/spotify-duplicate-remover/index.html">Home</a></li>
        </ul>
        <h3 class="text-muted">{{ appTitle }}</h3>
    </div>

    <div class="default-content" data-ng-show="!loggedIn">
        <div class="jumbotron">
            <h1>Spotify Playlists Deduplicator</h1>

            <p class="lead">Remove duplicated tracks from your playlists.</p>

            <p>
                <button class="btn btn-lg btn-success" data-ng-click="login()">Log in with Spotify
                </button>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4>Find &amp; remove</h4>

                <p>Dedup traverses the playlists in <strong>your Spotify library</strong>. Once
                    Dedup finds duplicates you can remove them per-playlist basis.</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4>Safe</h4>

                <p>Dedup won't delete anything except for duplicates, and only in the playlists
                    <strong>you</strong> want to apply the deletion.</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4>Open Source</h4>

                <p>This web app is open source, and uses the <a
                        href="https://developer.spotify.com/web-api/">Spotify Web API</a> to manage
                    user's playlists.</p>
            </div>
        </div>
    </div>

    <div class="default-content" data-ng-show="loggedIn">
        <h3>Playlists</h3>

        <div data-ng-show="processing">
            <small><em>Looking for duplicate tracks in your playlists ...</em></small>
            <progressbar max="playlists.length" value="processed_playlists"><span
                    style="color:white; white-space:nowrap;">{{processed_playlists}} / {{playlists.length}}</span>
            </progressbar>
        </div>

        <button class="btn btn-primary btn-md" data-ng-click="processAllPlaylists()">
            <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Fix all
        </button>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Edit</th>
                <th>Playlist name</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="playlist in playlists">
                <td class="col-md-1">
                    <button class="btn btn-md" data-ng-click="(getDuplicates(playlist.id))">
                        <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Fix
                    </button>
                </td>
                <td>{{ playlist.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="default-content" data-ng-show="duplicate_tracks.length > 0">
        <h3>Tracks {{ duplicate_tracks.length }}</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Song</th>
                <th>Artist</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="track in duplicate_tracks">
                <td>{{ track.track.name }}</td>
                <td><span ng-repeat="artist in track.track.artists">{{$first ? '' : $last ? ' and ' : ', '}}{{artist.name}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>